header .plus-menu .menu-btn span {
  background: #000;
}
/*section1*/
.main_banner {
}
.main_banner img {
  width: 100%;
}

/*section2*/
.introduce {
  max-width: 1420px;
  margin: 0 auto;
}
.introduce h1 {
  font-size: 50px;
  margin: 50px 0;
  margin-left: 50px;
}
.introduce .search {
  display: flex;
  justify-content: center;
  margin: 50px 0;
}
.introduce .search a {
  font-size: 16px;
  font-weight: 500;
  color: #999;
}
.introduce .search a:hover {
  color: #000;
}
.introduce .collection a {
  font-weight: bold;
  color: #000;
  text-decoration: underline;
  margin: 0 100px;
}
.search_btn {
  position: relative;
  top: 50%;
  left: 50%;
  width: 450px;
  height: 40px;
  border: 1px solid #eee;
  border-radius: 40px;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.15);
  transform: translate(-50%, -50%);
  background: #fff;
  transition: all 0.3s ease;
}
.search-input {
  position: absolute;
  top: 10px;
  left: 38px;
  font-size: 14px;
  background: none;
  color: #5a6674;
  width: 195px;
  height: 20px;
  border: none;
  appearance: none;
  outline: none;
}
.search-button {
  background-image: url(../image/subpage3/Group\ 9.png) no-repeat center;
  position: absolute;
  top: 10px;
  left: 15px;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

/*section3*/
.event-wrap {
  max-width: 1420px;
  margin: 0 auto;
  padding: 50px 0;
  text-align: center;
}
.event-wrap .desc-btn {
  display: flex;
  padding-top: 50px;
  margin-left: 55px;
}
.event-wrap .desc-btn a {
  color: #000;
  margin-bottom: 10px;
}
.event-wrap .desc-btn a:nth-child(2) {
  margin: 0 20px;
  color: #999;
}
.event-wrap .desc-btn a:nth-child(3) {
  color: #999;
  margin: 0 20px;
}
.event-wrap .desc-btn a:nth-child(4) {
  color: #999;
}
.event-wrap .item-slide {
}
.event-wrap .event-item {
  display: inline-block;
  margin: 0 10px;
  text-align: left;
}
.event-wrap .event-item img {
}
.event-wrap .event-item img:hover {
}
.event-wrap .event-item h1 {
  width: 423px;
  color: #000;
  font-size: 20px;
}
.event-wrap .event-item .desc_money {
  display: flex;
}
.event-wrap .event-item .desc_money p {
  margin-right: 10px;
  margin-bottom: 40px;
}
.event-wrap .event-item .desc_money p:nth-child(1) {
  text-decoration: line-through;
  color: #999;
}
.next_btn {
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 50px;
}
.next_btn img {
}
.next_btn a {
  color: #999;
  font-size: 20px;
  font-weight: bold;
  padding: 0 20px;
}
.next_btn a:nth-child(2) {
  color: #000;
}
/* 반응형 */
@media screen and (max-width: 767px) {
  /*section1*/
  .main_banner {
    overflow: hidden;
  }
  .main_banner img {
    height: 400px;
    object-fit: cover;
  }

  /*section2*/
  .introduce {
    text-align: center;
  }
  .introduce h1 {
    font-size: 30px;
    margin: 0;
    padding-top: 100px;
  }
  .introduce .search {
  }

  .introduce .collection a {
    margin: 0 50px;
  }
  .search_btn {
    width: 350px;
  }

  /*section3*/
  .event-wrap {
    max-width: 1420px;
    margin: 0 auto;
    padding: 50px 0;
  }
  .event-wrap .desc-btn {
    display: none;
  }
  .event-wrap .event-item {
    margin: 0;
  }
  .event-wrap .event-item img {
    display: block;
  }
  .next_btn {
    margin-bottom: 50px;
  }
}
